/* Reset some default browser styles */
body, h1, h2, h3, p, ul, li, a {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

/* Body styling */
body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    background-color: #fff;
    color: #000;
    margin: 20px;
}

/* Headings */
h1, h2, h3 {
    font-weight: bold;
    margin-bottom: 10px;
}

h1 {
    font-size: 2em;
    margin-bottom: 20px;
}

h2 {
    font-size: 1.5em;
    margin-top: 20px;
    margin-bottom: 10px;
}

h3 {
    font-size: 1.2em;
    margin-top: 15px;
    margin-bottom: 10px;
}

/* Links */
a {
    color: #0000EE;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Lists */
ul {
    list-style-type: disc;
    margin-left: 20px;
    margin-bottom: 20px;
}

ul ul {
    list-style-type: circle;
}

/* Paragraphs */
p {
    margin-bottom: 20px;
}

/* Images */
img {
    display: block;
    margin: 20px auto;
    max-width: 100%;
    height: auto;
}

/* Navigation links */
ul li a {
    display: inline;
    padding: 0;
    background-color: transparent;
    border: none;
    margin: 0;
}

ul li a:hover {
    background-color: transparent;
}